.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.app {
    width: 60%;
}
.title-text {
    text-align: center;
    font-size: 40px;
    padding-top: 10px 0;

}
.form--grocery-item {
    display: flex;
    width: 100%;
}
.grocery-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    width: 70%;
}
.button-add {
    background-color: blue;
    color: white;
    border-radius: 12px;
    font-size: 25px;
    font-weight: 100;
    height: 42px;
    width: 25%;
    margin: 0 0 0 auto;
    cursor: pointer;
}
.grocery-list {
    list-style: none;
    padding: 10px;
}

